.upperbox{
  padding: 5px;
}

.box {
  flex: 1 1 100%;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .box {
    flex: 1;
    margin: 40px;
  }
  .upperbox{
    padding: 15px;
  }
}
